extends layout
block content
  #banner.page-header
    .row 
      .col-lg-6 
        h1 
          | Mekanbul 
          small &nbsp; Yakınlarındaki Mekanları Bul!
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12
      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') Antre Kitchen Cadde
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 1km
        p.adress Antre Kitchen Cadde
        p
          span.label.label-warning Burger
          | &nbsp;
          span.label.label-warning Et
          | &nbsp;
          span.label.label-warning Tatlı
        | &nbsp;
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12
      .col-xs-12.list-group-item
        h4 
          a(href='/mekan') Uğur Pide
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
        span.badge.pull-right.badge-default 349m
        p.adress Uğur Pide
        p
          span.label.label-warning Sucuk
          | &nbsp;
          span.label.label-warning Pide
          | &nbsp;
          span.label.label-warning Kadayıf
        | &nbsp;
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12
      .col-xs-12.list-group-item      
        h4 
          a(href='/mekan') Ferah Kebap 
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
          span.glyphicon.glyphicon-star-empty
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 5km
        p.adress Ferah Kebap
        p
          span.label.label-warning Sucuklu köfte 
          | &nbsp;
          span.label.label-warning Tavuk Şiş
          | &nbsp;
          span.label.label-warning Fırında Sütlaç